

.poznak { color: green; }


.junjun { color: lightgreen; }


.greetings { color: purple; }


.container{ text-align: center }





p {font-family: 'Oswald', sans-serif;}

h1 {font-family: 'Oswald', sans-serif;}

h2 {font-family: 'Oswald', sans-serif;}

h3 {font-family: 'Oswald', sans-serif;}

h4 {font-family: 'Oswald', sans-serif;}



